.task {
  background: var(--gray-500);
  border-radius: 8px;
  padding: 1.5rem;
  display: grid;
  grid-template-areas: 'checkIcon task deleteIcon';
  grid-template-columns: 20px 1fr 20px;
  gap: 0.8rem;
  font-size: 1rem;
}

.task + .task {
  margin-top: 1rem;
}

.border {
  border: 2px solid var(--gray-400)
}

.uncheckedIcon {
  color: var(--blue);
  grid-area: checkIcon;
  cursor: pointer;
}

.checkedIcon {
  color: var(--purple);
  grid-area: checkIcon;
  cursor: pointer;
}

.uncheckedTask {
  margin-top: -0.123rem;
  grid-area: task;
}

.checkedTask {
  margin-top: -0.123rem;
  grid-area: task;
  text-decoration: line-through;
  color: var(--gray-300);
}

.deleteIcon {
  color: var(--gray-300);
  transition: color 0.2s;
  grid-area: deleteIcon;
  cursor: pointer;
}

.deleteIcon:hover {
  color: var(--danger);
}