.task {
  background: var(--gray-500);
  border-radius: 8px;
  padding: 1.5rem;
  display: grid;
  grid-template-areas: 'checkIcon task deleteIcon';
  grid-template-columns: 20px 1fr 20px;
  gap: 0.8rem;
  font-size: 1rem;
}

.task + .task {
  margin-top: 1rem;
}

.border {
  border: 1px solid var(--gray-400)
}

.unchekedIcon {
  color: var(--blue);
  grid-area: checkIcon;
}

.task p {
  margin-top: -0.123rem;
  grid-area: task;
}

.deleteIcon {
  color: var(--gray-300);
  transition: color 0.2s;
  grid-area: deleteIcon;
}

.deleteIcon:hover {
  color: var(--danger)
}